body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 200px;
    background-color: #ccc;
}

.calculator {
    display: inline-block;
    padding: 20px;
    border: 2px solid black;
    background-color:rgb(197, 187, 159);
    border-radius: 10px;
    box-shadow: 0 4px 8px;
    width: 52%;
}

.display {
    width: 100%;
    height: 40px;
    margin-bottom: 50px;
    text-align: left;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*fr(واحد مقدار)-px/%*/
    gap: 10px;
   
      
}
.button {
    height: 40px;
    font-size: 16px;
    background-color: #ccccb6;
    border: none;
    box-shadow: 0 4px 5px;
    border-radius: 6px;
    cursor: pointer;
    }
.button:hover {
    background-color: #ddd;
    }
    
    .button.operator {
    background-color: #ecece2;
    color: rgb(10, 10, 10);
    border-radius: 6px;
    }
    
    .button.operator:hover {
    background-color: #977f64;
    }

